.list-wrap {
    float: left;
    width: 100%;
}

.list-wrap .list-item {
    width: 100%;
    float: left;
    padding: 16px 20px;
    overflow: hidden;
	text-overflow: ellipsis;
}

.list-wrap .list-item:nth-child(even) {
    background: #F2F6FA;
}

.long-url {
	text-transform: uppercase;
}

.mini-url {
	float: right;
}