<div class="home-wrap">
	<div class="inner-page-wrap">
		<div class="header-wrap">Mini Url App</div>

		<div class="search-bar-wrap">
			<form name="miniUrl.form" class="form-input">
				<input type="url" name="input" required="true" ng-readonly="miniUrl.isLoading" ng-model-options="{allowInvalid: true}" class="long-input" placeholder="Input Long Url (https://example.com)" ng-model="miniUrl.urlData.longUrl" ng-enter="miniUrl.makeUrlMini(miniUrl.urlData.longUrl)">
				<i></i>
			</form>
			<div class="form-button">
				<div class="big-button" ng-click="miniUrl.makeUrlMini(miniUrl.urlData.longUrl)">
					<span class="button-text" ng-class="{'is-hidden': miniUrl.isLoading}">OK</span>
					<loading-spinner is-active="miniUrl.isLoading"></loading-spinner>
				</div>
			</div>
		</div>

		<div class="error-message-wrap error-text" ng-if="miniUrl.hasError">{{ miniUrl.errorData.message }}</div>

		<list-wrap ng-if="miniUrl.hasResults" class="results-list" list-items="miniUrl.results"></list-wrap>
		
	</div>
</div>