<div class="home-wrap">
	<div class="inner-page-wrap">
		<div class="header-wrap">Mini Url App</div>

		<div class="search-bar-wrap">
			<div class="form-input">
				<input type="text" ng-readonly="miniUrl.isLoading" class="long-input" placeholder="Input Long Url (https://example.com)" ng-model="miniUrl.urlData.longUrl" ng-enter="miniUrl.makeUrlMini(miniUrl.urlData.longUrl)">
				<i></i>
			</div>
			<div class="form-button">
				<div class="big-button" ng-click="miniUrl.makeUrlMini(miniUrl.urlData.longUrl)">
					<span class="button-text" ng-class="{'is-hidden': miniUrl.isLoading}">OK</span>
					<loading-spinner is-active="miniUrl.isLoading"></loading-spinner>
				</div>
			</div>
		</div>

		<div class="error-message-wrap" ng-if="miniUrl.hasError">{{ miniUrl.errorData.message }}</div>
		
	</div>
</div>